<div class="container">
  <div class="row justify-content-center create-user">
    <div class="col-md-8">
      <mat-card class="border-card">
        <div class="titulo-crear-usuario">
          <mat-card-title>Crear Usuario</mat-card-title>
        </div>
        <mat-card-content>
          <div class="row justify-content-center input">
            <mat-form-field class="mat-form-field" appearance="outline">
              <mat-label>Nombre(s)</mat-label>
              <input matInput placeholder="Ingrese nombre(s)">
            </mat-form-field>
            <mat-form-field class="mat-form-field" appearance="outline">
              <mat-label>Apellido(s)</mat-label>
              <input matInput placeholder="Ingrese apellido(s)">
            </mat-form-field>
          </div>
          <div class="row justify-content-center input">
            <mat-form-field class="mat-form-field" appearance="outline">
              <mat-label>Tipo de documento</mat-label>
              <mat-select placeholder="Seleccione el documento">
                <mat-option *ngFor="let type of typesDocuments" [value]="type.value">
                  {{type.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="mat-form-field" appearance="outline">
              <mat-label>Número de documento</mat-label>
              <input matInput placeholder="Ingrese identificación">
            </mat-form-field>
          </div>
          <div class="row justify-content-center input">
            <mat-form-field class="mat-form-field" appearance="outline">
              <mat-label>Fecha de nacimiento</mat-label>
              <input matInput [matDatepicker]="datepicker">
              <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
              <mat-datepicker #datepicker></mat-datepicker>
            </mat-form-field>
            <mat-form-field class="mat-form-field" appearance="outline">
              <mat-label>Género</mat-label>
              <mat-select placeholder="Seleccione el género">
                <mat-option *ngFor="let type of genderType" [value]="type.value">
                  {{type.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="row justify-content-center input">
            <mat-form-field class="mat-form-field" appearance="outline">
              <mat-label>Telefono</mat-label>
              <input matInput placeholder="Ingrese telefono">
            </mat-form-field>
            <mat-form-field class="mat-form-field" appearance="outline">
              <mat-label>Dirección</mat-label>
              <input matInput placeholder="Ingrese dirección">
            </mat-form-field>
          </div>
          <div class="row justify-content-center input">
            <mat-form-field class="mat-form-field" appearance="outline">
              <mat-label>Correo</mat-label>
              <input matInput placeholder="Ingrese correo">
            </mat-form-field>
            <mat-form-field class="mat-form-field" appearance="outline">
              <mat-label>Rol</mat-label>
              <input matInput placeholder="Seleccione rol">
            </mat-form-field>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>