@import '../../../../scss/variables';

.header-internal-pages {
  margin: 0px 0px 10px 0px;
}

.title-navbar {
  flex: 1 1 auto;
  text-align: center;
  font-weight: bold;
}

.example-spacer {
  flex: 1 1 auto;
}

.cerrar-sesion {
  font-family: $fontSecond-R;
  cursor: pointer;
  text-decoration: underline;
  margin: 0px 10px 0px 10px;
}