@import "../../../../../scss/variables";
@import "../../../../../scss/mixins";


.menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.example-card {
  flex: 1 0 300px;
  margin: 10px;
  max-width: 400px;
  margin-bottom: 30px;
}

.header {
  height: 100px;
}
@media (min-width: 990px) and (max-width: 1300px) {
  .header {
    height: 130px;
  }
  
}
.contenido{
  height: 120px;
}

.row {
  margin: 0;
}

.titulo {
  font-family: $fontSecond-B;
  font-size: 18px;
  color: #333;
}

.titulo-principal {
  text-align: center;
  font-family: $fontPrimary-M;
  font-size: 20px;
  color: #333;
}

.subtitulo {
  font-family: $fontSecond-R;
  font-size: 16px;
  line-height: 20px;
}

.parrafo {
  font-family: $fontSecond-R;
  font-size: 16px;
}


.example-header-image {
  background-image: url('../../../../../assets/img/sale.png');
  background-size: cover;
}

.contabilidad-image {
  background-image: url('../../../../../assets/img/contabilidad.png');
  background-size: cover;
}

.usuario-image {
  background-image: url('../../../../../assets/img/user.png');
  background-size: cover;
}