$mat-brown: (50 : #f7ead4,
  100 : #decab2,
  200 : #c0a88d,
  300 : #a08766,
  400 : #896d49,
  500 : #72552c,
  600 : #684c26,
  700 : #593f1e,
  800 : #4d3216,
  900 : #3e240b,
  A100 : #f3c1b3,
  A200 : #d69e90,
  A400 : #a0604f,
  A700 : #6d3126,
  contrast: (50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  ));
