$mat-brown: (50 : #f5e9e0,
  100 : #dccabe,
  200 : #c0a799,
  300 : #a28573,
  400 : #8d6b56,
  500 : #5d3b24,
  600 : #6c4934,
  700 : #473022,
  800 : #4e3123,
  900 : #3d251b,
  A100 : #ecc7c6,
  A200 : #d1a6a5,
  A400 : #a26a6a,
  A700 : #703b3e,
  contrast: (50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  ));
