$mat-cian: (50 : #e0fcfb,
  100 : #b3f8f5,
  200 : #80f3ee,
  300 : #4deee7,
  400 : #26eae1,
  500 : #00e6dc,
  600 : #00e3d8,
  700 : #00dfd3,
  800 : #00dbce,
  900 : #00d5c5,
  A100 : #fcffff,
  A200 : #c9fffa,
  A400 : #96fff6,
  A700 : #7dfff4,
  contrast: (50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  ));
