$mat-purple: (50 : #f2e5fb,
  100 : #debdf6,
  200 : #c991f0,
  300 : #b365e9,
  400 : #a244e5,
  500 : #9223e0,
  600 : #8a1fdc,
  700 : #7f1ad8,
  800 : #7515d3,
  900 : #630ccb,
  A100 : #faf6ff,
  A200 : #dcc3ff,
  A400 : #be90ff,
  A700 : #af77ff,
  contrast: (50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  ));
