<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Creación de usuario</title>
    </head>
    <body>
        <table width="600px" border="0" style=" box-shadow: 0 0 10px 0 #d0d0d0; margin: 3% auto; font-family: arial; border-radius: 15px; color: #656565">
            <tbody>
                <tr>
                    <td style=" background: #b245ca; border-radius: 15px 15px 0 0; font-size: 25px; color: #fff; height: auto; text-align: center; padding:20px;"><span>Nuevo Usuario</span></td>
                </tr>
                <tr>
                    <td><p style="padding: 15px; text-align: center">!Hola!</p></td>
                </tr>
                <tr>
                    <td><p style="padding: 15px; text-align: center">Tu nueva contraseña es: <strong th:text="${password}"></strong></p></td>
                </tr>
                <tr>
                    <td><p style="padding: 15px; text-align: center">Por favor inicia sesion y actualiza tu contraseña lo mas pronto posible</p></td>
                </tr>
                <tr>
                    <td><p style="padding: 15px; text-align: center">!Feliz dia, Ventacontable!</p></td>
                </tr>
            </tbody>
        </table>
    </body>
</html>