<div class="container">
  <div class="row login">
    <div class="col-md-12">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <mat-card class="card-form-login">
            <div class="row title-login">
              <mat-card-title>LOGIN</mat-card-title>
            </div>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-content>
              <div class="row justify-content-center input">
                <mat-form-field appearance="outline">
                  <mat-label>Email</mat-label>
                  <input type="text" matInput class="input-text" />
                </mat-form-field>
              </div>
              <div class="row justify-content-center input">
                <mat-form-field appearance="outline">
                  <mat-label>Password</mat-label>
                  <input type="password" matInput class="input-text" />
                </mat-form-field>
              </div>
              <div class="button">
                <button mat-raised-button color="primary">Login</button>
              </div>
              <div class="row button-remember">
                <button mat-button color="primary">Remember password?</button>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>
