<footer class="header-internal-pages">
  <mat-toolbar color="primary">
    <mat-toolbar-row class="footer-row">
      <span class="title-footer"><strong>Redes sociales</strong></span>
    </mat-toolbar-row>
    <mat-toolbar-row class="footer-row">
      <div class="social-media">
        <a href="https://www.facebook.com/pacmanCGO" target="_blank"><img src="../../../../assets/img/facebook.png"/></a>
        <a href="https://www.instagram.com/juandavidsanc/" target="_blank"><img src="../../../../assets/img/twitter.png"/></a>
        <a href="https://www.instagram.com/juandavidsanc/" target="_blank"><img src="../../../../assets/img/instagram.png"/></a>
      </div>
    </mat-toolbar-row>
    <mat-toolbar-row class="footer-row">
      <span class="title-copy"><strong>COPYRIGHT © 2023. ALL RIGTHTS RESERVED</strong></span>
    </mat-toolbar-row>
  </mat-toolbar>
</footer>
