
.footer {
  bottom: 0;
  width: 100%;
  position: fixed;
}

.title-footer {
  flex: 1 1 auto;
  text-align: center;
  font-size: 20px;
  font-family: inherit;
}

.button-face {
  flex: 1 1 auto;
  text-align: center;
}

.title-copy {
  flex: 1 1 auto;
  text-align: center;
  font-size: 12px;
  font-family: inherit;
}

.footer-row {
  height: 40px;
}

.social-media {
  flex: 1 1 auto;
  text-align: center;
}
