/* You can add global st
les to this file, and also import other style files */
@import './scss/variables';
body {
  margin: 0;
  background-color: #e5e5e5;
  position: relative;
  padding-bottom: 8em;
  min-height: 100vh;
}
