$brown_1: #795548;
$brown_2: #5d3b24;
$brown_selected :#c9a89c;
$fontPrimary: GeomanistWord-Bold;
$fontPrimary-M: GeomanistWord-Medium;
$fontSecond-R: Bariol_Regular;
$fontSecond-I: Bariol_Regular_Italic;
$fontSecond-B: Bariol_Bold;